@model PokeViewModel;
@{
    ViewData["Title"] = "Poke";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page Poke</p>
@Model.person1
<br>
@Model.person2
<br>
@Model.person3
<br>
@Model.person4